
html, body {
  margin: 0;
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 650px;
}


.header, .footer {
  background-color: lightyellow;
  padding: 20px;
  text-align: center;
   padding: 20px; 
    color: darkblue;
    font-family: 'Trebuchet MS', sans-serif;
    border-left: 15px solid pink;
    border-right: 15px solid pink;
}

.middle {
  display: flex;
  flex: 1;
}


.left-sidebar, .right-sidebar {
  gap: 15px;
    padding: 20px;
    background-color: pink;
    color: white;
    text-decoration: underline;
    font-family: 'Kalnia', serif;
    border-radius: 10px;
  flex: 0 0 200px;
  
}


.main-content {
   flex: 1 0 auto;
    flex-direction: column;
    align-items: center;
     background-color: lightblue;
     padding: 20px;
     border-radius: 10px;
    grid-area: main;
    gap: 15px;
    text-align: center;
}
