
html, body {
  margin: 0;
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 650px;
}


.header, .footer {
  padding: 20px;
  text-align: center;
   padding: 20px; 
  
}
.header{
  background-color: pink;
  color: white;
font-family: 'kalnia';}

.middle {
  display: flex;
  flex: 1;
}


.left-sidebar, .right-sidebar {
  gap: 15px;
    padding: 20px;
    background-color: lightyellow;
    color: darkblue;
    text-decoration: underline;
    font-family: 'Kalnia', serif;
    border-radius: 10px;
  flex: 0 0 100px;
  
}


.main-content {
   flex: 1 0 auto;
    flex-direction: column;
    align-items: center;
     background-color: rgb(210, 232, 255);
     padding: 20px;
     border-radius: 10px;
    grid-area: main;
    gap: 15px;
    text-align: center;
    justify-content: space-around;
      font-family: trebuchet ms, sans-serif;
}

.footer{
  background-color: lightyellow;
  color: darkblue;
   font-family: 'Trebuchet MS', sans-serif;
}