body {
  margin: 0 auto;
  background-color: lightyellow;
  color: darkblue;
  font-family: Arial, sans-serif;
}

.choco-box {
  width: 700px;
  margin: 0 auto;
  padding: 0;
  border: 1px solid rgb(189, 242, 255);
  background-color: rgb(210, 232, 255);
  color: darkblue;
  font-family: Arial, sans-serif;
  width: 700px;
}

.choco-img {
  display: block;
  margin: 0 auto;
}

.choco-box {
  text-align: center;
  padding: 15px; 
}

#siteheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin: 0;
  padding: 0;
  background-color: pink;
  color: white;
  text-decoration: underline;
  font-family: 'kalnia';
}

#navigation {
  display: flex;
  gap: 15px;
  margin: 10px;
  padding: 0;
  float: right;
  list-style-type: none;
  font-family: 'kalnia';
}

#head {
  display: flex;
  flex-direction: row;
  float: right;
  text-decoration: none;
  font-family: 'kalnia';
}


#bio {
  margin: 20px auto;
  padding: 0;
  text-align: center;
}

#favs {
  margin: 20px auto;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#cov {
  display: block;
  margin: 0 auto;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}


#albums {
  list-style: none;
  text-align: center;
  align-items: center;
  padding: 0;
}

#albums li {
  margin-bottom: 20px;
} 
footer {
  display: block;
  margin-top: 100px;
  color: darkblue;
  text-align: center;
}



