body{
    background-color: lightyellow;
    color: darkblue;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0 auto;
}
h1 {
    background-color: pink;
    text-align: left;
    align-items: center;
    color: white;
    text-decoration: underline;
    font-family: Garamond, serif;
    margin: 0px;
    vertical-align: left;
    gap: 15px;
    padding: 10px;
    display: -webkit-flex;
    display: flex;
}
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ffffff;
  padding: 20px;
}
nav ul {
  list-style-type: none;
  padding: 0;
}

div {
    background-color: lightblue;
    color: darkblue;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    width: 700px;
    border: 1px solid rgb(189,242,255);
}

ul {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    padding: 0px;
    margin: 20px auto;
    text-align: center;
}
li {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    
}